@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html{
    font-family: 'Orbitron', sans-serif;
    background-image: url(starTrek.jpg);
    color: rgba(255,255,255, 0.6);
    background-size: cover;  
}

span{
    font-weight: bold;
}

h1{
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    line-height: 10px;
    letter-spacing: 10px;
}

#series-movies{
    font-size: 20px;
}

h2{
    font-size: 2em;
}

li{
    line-height: 2;
    font-size: 1rem;
}

#characters{
    font-size: 18px;
}

h4{
    letter-spacing: 15px;
    font-family: 'Press Start 2P', cursive;
}

h4,h3,h2 {
    text-align: center;
}